	<html>
	<head>
	<title> Passport seva | Indian Passport  </title>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link href="/stylesheets/mainpage.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><-->
	</head>
	<body>
	    <h1 class="text-center"><kbd> Passport Seva | Indian Passport</kbd></h1><br>

		<div ><p class="text-center big space color font text text-info"><b> An Indian passport is a passport issued by order of the President of India to Indian citizens for the purpose of international travel. It enables the bearer to travel internationally and serves as proof of Indian citizenship as per the Passports Act (1967). The Consular Passport & Visa (CPV) Division of the Ministry of External Affairs, functions as the central passport organisation, and is responsible for issuing Indian passports on demand to all eligible Indian citizens. Indian passports are issued at 93 passport offices located across India and at 162 Indian diplomatic missions abroad.</b>
	    </p></div>
        <br>
        <p class="font text-primary" style="color="grey"; align="center"; "><b> If you're a new user</b> </p>
        <a href="/register" style="color:black"><h2> <b>REGISTER HERE!!</b> </h2></a>
        <br>
         <p class="font text-info" style="color="grey"; align="center"; "><b> Existing User</b> </p>
         <a href="/login" style="color:black"><h2> <b>LOG IN</b> </h2></a>

        <h2><p class="space big fontsize"><a href="#">Contact Us</a> | <a href="#">Terms of Use</a> | <a href="#">Trademarks</a>
                                | <a href="#">Privacy Statement</a><br />
                                Copyright &copy; 2017 ---. All Rights Reserved.</p>
            </h2>
            <h3> <p class="space big" style="color:grey; text-align:center; font-size:11 "><b>Designed using HTML and CSS | Made by Vikram.</b></p></h3>
	</body>
	</html>
